.Header{
    background: url('https://sbuvh-uyaaa-aaaai-aci6q-cai.raw.ic0.app/images/bnr.jpg') center center / cover no-repeat;
    width: 100%;
    opacity:0.9;
    display: inline-block;
    height: 80vh;
    background-size: cover;
    background-position: bottom;
  }